<?xml version="1.0" encoding="UTF-8"?>
<events>
<event>
         <event_title>Drone Federation of India, Stein habitat center held on 6-7 Jan 2020</event_title>
		 <event_id>DFI67012020</event_id>
		 <event_info>Participated in Drone Federation of India, Stein habitat center held on 6-7 Jan 2020</event_info>
		 <event_images_folder>DFI 2020</event_images_folder>
</event>
<event>
         <event_title>DEFEXPO 2020</event_title>
		 <event_id>DEFEXPO58022020</event_id>
		 <event_info>We "Pan India Consultants Pvt. Ltd" has participated in the Emerging Defence Manufacturing Hub" Defexpo,2020 (5-8 Feb) held @ Lucknow, India. It is the largest exhibition to showcase new and future defence technology for the world's defence companies to display their land, sea, and air capabilities at a single exhibition.
</event_info>
		 <event_images_folder>DEFEXPO2020</event_images_folder>
</event>

<event>
         <event_title>GEO SMART INDIA (3-5 DECEMBER 2019)</event_title>
		 <event_id>GSI35122019</event_id>
		 <event_info></event_info>
		 <event_images_folder>GEOSMART2019</event_images_folder>
</event>
<event>
         <event_title>PAN INDIA ANNUAL MEETING 2019</event_title>
		 <event_id>PICMEET2019</event_id>
		 <event_info></event_info>
		 <event_images_folder>PICMeet2019</event_images_folder>
</event> 
<event>
         <event_title>OCEAN BUSINESS UK 2019</event_title>
		 <event_id>OCEANBUSINESS2019</event_id>
		 <event_info></event_info>
		 <event_images_folder>OceanBusiness2019</event_images_folder>
</event> 
<event>
         <event_title>SPECTRA GEOSPATIAL 2018</event_title>
		 <event_id>SG2018</event_id>
		 <event_info></event_info>
		 <event_images_folder>SPECTRAGEOSPATIAL2018</event_images_folder>
</event> 
<event>
         <event_title>OCEANOLOGY 2018</event_title>
		 <event_id>OCEANOLOGY2018</event_id>
		 <event_info></event_info>
		 <event_images_folder>Oceanology2018</event_images_folder>
</event> 
<event>
         <event_title>Technology Day 2018</event_title>
		 <event_id>TechDay2018</event_id>
		 <event_info></event_info>
		 <event_images_folder>TechDay2018</event_images_folder>
</event> 
</events>

 
<!-- <event>
         <event_title></event_title>
		 <event_id></event_id>
		 <event_info></event_info>
		 <event_images_folder></event_images_folder>
</event>  -->

